<table ng-controller="page2Controller" align="center" width="100%">
	<tr>
		<td bgcolor="#0071bc" colspan="2" style="padding-left: 20px"><h2><font color="white">Components Requirements</font></h2></td>
	</tr>
	
	<tr>
		<td colspan="2" style="padding-top:15px" align="center">
			<div class="alert alert-info">
				<strong>Specify the requirements for each component. If a specification for a component is not given then it is considered to have whatever specs.</strong>
			</div>
		</td>
	</tr>	
</table>

<div class="w3-example" ng-repeat="fullComp in components">
	<h3 align="left" style="padding-left:20px">{[{fullComp.name}]}</h3>
		<table  id="specs" width="100%"align="center">
			<tr>
				<td width="35%"><h5>Compute</h5></td>
				<td><h5>vCPUs&nbsp;<div class="tooltip"><img src="static/tooltip_icon.png" width="18" height="18"><span class="tooltiptext">Number of virtual CPUs</span></div>&nbsp;
					<select ng-model="fullComp.Compute.CPU">
					<option disabled selected value style="display:none"></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="4">4</option>
					<option value="8">8</option>
					<option value="16">16</option>
						<option value="32">32</option>
						<option value="64">64</option>
					</select>&nbsp;&nbsp;
					
					GPU&nbsp;<div class="tooltip"><img src="static/tooltip_icon.png" width="18" height="18"><span class="tooltiptext">Denotes if a GPU is present.</span></div>&nbsp;&nbsp;
					<input ng-model="fullComp.Compute.GPU" type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;
					
					Memory&nbsp;<div class="tooltip"><img src="static/tooltip_icon.png" width="18" height="18"><span class="tooltiptext">Quantity of RAM in GB.</span></div>&nbsp;
					<select ng-model="fullComp.Compute.Memory">
					<option disabled selected value style="display:none"></option>
					<option value="1000">1</option>
					<option value="3000">3</option>
					<option value="7000">7</option>
					<option value="32000">32</option>
					<option value="34000">34</option>
						<option value="64000">64</option>
						<option value="128000">128</option>
						<option value="256000">256</option>
					</h5>

				</td>
				<td align="right"></td>
			</tr>
			
			<tr>
				<td><h5>Storage</h5></td>
				<td>
					<h5>Storage Type&nbsp;<div class="tooltip"><img src="static/tooltip_icon.png" width="18" height="18"><span class="tooltiptext">HDD or SSD</span></div>&nbsp;&nbsp;<select ng-model="fullComp.Storage.StorageType">
						<option disabled selected value style="display:none">--</option>
						<option value="HDD">HDD</option>
						<option value="SSD">SSD</option>
					</select>&nbsp;&nbsp;&nbsp;
					Size&nbsp;<div class="tooltip"><img src="static/tooltip_icon.png" width="18" height="18"><span class="tooltiptext">Storage size in GB</span></div>&nbsp;&nbsp;
					<select ng-model="lowstorage">
						<option disabled selected value style="display:none">--</option>
						<option value="1000">1</option>
						<option value="2000">2</option>
						<option value="4000">4</option>
						<option value="8000">8</option>
					</select>
					</h5>
				</td>
				<td align="right"></td>
			</tr>
			
			<tr>
				<td><h5>Network</h5></td>
				<td><h5>Concurrent connections &nbsp;<div class="tooltip"><img src="static/tooltip_icon.png" width="18" height="18"><span class="tooltiptext">Number of concurrent connections.</span></div>&nbsp;&nbsp;
					<select ng-model="fullComp.Network.networkConnections">
						<option disabled selected value style="display:none">--</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="4">4</option>
						<option value="8">8</option>
						<option value="16">16</option></select>&nbsp;&nbsp;&nbsp;
					Data In&nbsp;<div class="tooltip"><img src="static/tooltip_icon.png" width="18" height="18"><span class="tooltiptext">The amount of traffic to the VM in GB/month.</span></div>&nbsp;&nbsp;
					<select ng-model="fullComp.Network.dataIn">
						<option disabled selected value style="display:none">--</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="4">4</option>
						<option value="8">8</option>
						<option value="16">16</option></select>&nbsp;&nbsp;&nbsp;
					Data Out&nbsp;<div class="tooltip"><img src="static/tooltip_icon.png" width="18" height="18"><span class="tooltiptext">The amount of traffic from the VM in GB/month.</span></div>&nbsp;&nbsp;
					<select ng-model="fullComp.Network.dataOut">
					<option disabled selected value style="display:none">--</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="4">4</option>
					<option value="8">8</option>
					<option value="16">16</option></select>&nbsp;	
				</h5></td>
				
				<td align="right"></td>
			</tr>
			
			
			<tr>
				<td><h5>Operating System&nbsp;<div class="tooltip"><img src="static/tooltip_icon.png" width="18" height="18"><span class="tooltiptext">The operating system installed on the VM.</span></div>&nbsp;</h5></td>
				<td align="center"><select ng-model="fullComp.operatingSystem">
					<option disabled selected value style="display:none">--</option>
					<option value="Linux">Linux</option>
					<option value="Windows">Windows</option>
				</td>
				<td align="right"></td>
			</tr>			
			
			<tr>
				<td><span class="key1"><h5>Keywords&nbsp;<div class="tooltip"><img src="static/tooltip_icon.png" width="18" height="18"><span class="tooltiptext">Characteristics of the component(s) (e.g. stream processing, big data application, queue). Used in the choosing the appropriate VMs instances.</span></div>&nbsp;</h5></td>
				<td align="center"><button ng-click="addKeyword(fullComp.keywords)">Add keywords</button>
				<b ng-repeat="key in fullComp.keywords">{[{key}]}&nbsp;&nbsp;</b></span>
				</td>
				<td align="right"><a href="" title="Delete keywords"><img src="static/bin.png" width="18" height="18" ng-click="deleteKeywords(fullComp.keywords)"></a></td>
			</tr>
			
		</table>
		
</div>
<button name="topage1" class="button-submit" onclick="location.href = '#!topage1'">Back</font></button> &nbsp;&nbsp;
<button name="topage1" class="button-submit" ng-click="generateJSON()">Submit</font></button>
